<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Converter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">{{ 'menu.currency.rates' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/converter">{{ 'menu.currency.converter' | translate }}</a>
                </li>
                <li>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="../../assets/styles/pictures/pngegg.png" alt="language">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li (click)="changeLang('ru')">Русский</li>
                        <li (click)="changeLang('en')">English</li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>