<div class="container-fluid">
    <div class="footer">
        <div class="logo">
            <p>{{ 'footer.title' | translate }}</p>
        </div>
        <div *ngIf="currenciesList.length > 1; else error" class="popularCourses">
            <ul>
                <li *ngFor="let cur of curListForFooter">
                    <p>{{ cur.abbr }}</p>
                    <p>{{ calcRatesValue(cur.scale, cur.rate) }}</p>
                </li>
            </ul>
        </div>
        <ng-template #error>
            <p class="loading">{{ 'currencies.loading' | translate }}</p>
        </ng-template>
    </div>
</div>