<div class="container-fluid">
    <app-date (onChanged)="onChanged($event)"></app-date>
    <div *ngIf="currenciesList; else loading">
        <div class="row" *ngFor="let cur of currenciesList">
            <span class="col-md-1 col-sm-3 col-xs-3">{{ cur.scale }}</span>
            <span class="col-md-1 col-sm-3 col-xs-3">{{ cur.abbr }}</span>
            <span class="col-md-1 col-sm-3 col-xs-3">{{ cur.rate }}</span>
            <span class="col-md-1 col-sm-3 col-xs-3">BYN</span>
            <span class="col-md-6 col-sm-12 col-xs-12">{{ cur.name }}</span>
        </div>
    </div>
    <ng-template #loading>
        <div class="loading">{{ 'currencies.loading' | translate }}</div>
    </ng-template>
</div>