* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid {

    .chooseDate {
        input {
            width: 200px;
            height: 30px;
            border: 2px solid red;
            margin: 5px 15px 15px 15px;
        }

        .ok {
            border: 2px solid green;
        }
    }

    .main {
        margin: 0px 15px 0px 15px;
    }

    button,
    select {
        outline: none;
        border: 1px solid black;
        border-radius: 0px;
    }

    input {
        outline: none;
        border-radius: 0px;
        border: 2px solid silver;
    }

    button:hover,
    select:hover {
        cursor: pointer;
    }

    input:hover {
        border: 1px solid black;
    }

    .converterMenu {
        display: flex;
        justify-content: space-between;
        width: 282px;
        margin: 0px 0px 15px 0px;

        button {
            position: relative;
            z-index: 0;
            width: 200px;
            font-size: 15px;
            text-align: center;
            border: 2px solid gray;
        }

        button:active {
            width: 198px;
            height: 28px;
            left: 1px;
            top: 1px;
        }

        select {
            width: 77px;
            height: 30px;
            text-align: center;
            border: 2px solid gray;
        }
    }

    .inputValue {
        display: flex;
        flex-flow: row;
        justify-content: left;
        align-items: center;
        margin: 0px 0px 15px 0px;

        input {
            height: 30px;
            width: 200px;
            margin: 0px 10px 0px 0px;
            font-size: 15px;
        }

        span {
            width: 42px;
            line-height: 30px;
        }

        button {
            width: 30px;
            height: 30px;
            line-height: 20px;
            font-size: 20px;
            text-align: center;
            border: 2px solid gray;
        }
    }

    .loading {
        margin: 0px 0px 15px 15px;
        color: gray;
    }
}
