.container-fluid {

    .row {
        border: 1px solid silver;
        box-shadow: inset 1px;
        font-size: 20px;
        padding: 5px 10px;
        justify-content: space-between;

        span {
            text-align: center;
        }

        span:nth-child(even) {
            color: #a58900;
        }

        span.scale {
            text-align: right;
        }

        span.name {
            text-align: left;
        }
    }

    .row:nth-child(odd) {
        background-color: rgb(231, 227, 206);
    }
}

@media (max-width: 768px) {
    .row {
        padding: 0px!important;

        span {
            padding: 5px;
            text-align: center!important;
        }
    }
}

@media (max-width: 576px) {
    .row {
        span {
            padding: 0px;
            line-height: 25px;
        }
    }
}